body{background-color:purple	;

	margin-right:70px;
	margin-left:70px;
	}
	a:link{color:white; background-color:black;}
	a:visited{color:white; background-color:black;}
	a:hover{color:black; background-color:white; text-transform:uppercase;}

	
h1{background-color: pink;
	color: blue;
	 border-width: medium;
	border-style: solid;
	border-color: black;
	text-align:center;	
 }
  h2{
	 color:white;
}
	
 p{color: white; text-align: justify;}

div{text-align:center;}

img{
	width:250px;
	height:250px;
}
ul{color:white}

.everybody{background-image:url(im3.jpg);
		background-size:100% 100%;}
.noneedtoargue{
		background-image:url(img2.jpg);
		background-size:100% 100%;}
span{
	color:red}

.roses{
	background-image:url(img5.jpg);
	background-size:100% 100%;
}

.cor{
	color:black;
}

table{border-collapse:collapse;
border-width:5px;
	border-color:black;
	border-style:solid;}

td{border-width:5px;
  border-color:black;
  border-style:solid;}

 .tothefaithful{background-image:url(img4.jpg);
				background-size: 100% 100%}

.bury{background-image:url(imagem.jpg);
	  background-size: 100% 100%;}				
.stars{background-image:url(stars.jpg);
	   background-size: 100% 100%;}
.maistocadas{background-image:url(foto3.jpg);
			 background-size: 100% 100%}  
form{color:white; text-align:justify;}


